{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container header-container pt-5">
    <div class="row py-4">
        <div class="col">
            <h3 class="mb-0">About us </h3>
            <hr>
            
        </div>
    </div>
</div>

<div class="container contact-container">

    <div class="row">

        <aside class="col-4 contact-us">
            <div >
                <h4>Address:</h4> 
                <p>999, LaFerrari Boulevard,</p>
                <p>Lambotown,</p>
                <p>Porsche County,</p>
                <p>Ireland</p>
                
                <h4>Phone</h4>
                <p>00555 43224 45545</p>
                <h4>Email</h4>
                <p>info@fecc-fecc.com</p>
            </div>
        
        </aside>

        <!-- Form for Contacting us -->
      <div class=" col-8 contact-block">        
        
        <h2>Welcome to Far East Car Care</h2>
        <p>We are a new online store for some of the very best car care products in the world. We specifically chose a line of products from Japanese manufacturers due to the difference in technology and approach to car care in the Far East</p>
        <br>
        <p>The site is run by experts who will be happy to answer any questions you have about car care, whether it be a product recommendation or tips and tricks for specific problems. </p>

        <a href="{% url 'contact' %}" class="btn-sml btn btn-outline-custom">Contact Us</a>
</div>
{% endblock %}