{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container header-container help-headers">
    <div class="row py-4">
        <div class="col">
            <h3 class="mb-0">Contact us </h3>
            <hr>

        </div>
    </div>
</div>

<div class="container contact-container">
    <div class="row">
        
        <!-- Form for Contacting us -->
        <div class=" col-10 offset-1 contact-block">
            <form method="post" role="form" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="controls">
                    <div class="form-group">
                        <p>Full Name</p>
                        <input type="text" name="message-name" class="form-input-text form-control contact-form"
                            required="required">
                    </div>

                    <div class="form-group">
                        <p>Email</p>
                        <input type="email" name="message-email" class="form-input-text form-control contact-form"
                            required="required">
                    </div>
                    <div class="controls">
                        <div class="form-group">
                            <p>Subject</p>
                            <input type="text" name="message-subject" class="form-input-text form-control contact-form"
                                required="required">
                        </div>

                        <div class="form-group">
                            <p>Message</p>
                            <textarea name="message" class="form-input-text form-control contact-form" rows="6"
                                required="required"></textarea>
                        </div>
                        <div class="send-button bottom-margin">
                            <button type="submit" class="btn btn-sm send-msg btn-outline-custom">SEND MESSAGE</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    <aside class="col-10 offset-1 my-2 address">
        <div>
            <h4><i class="fas fa-house-user"></i> Address:</h4>
            <p class="pl-4">999, LaFerrari Boulevard,</p>
            <p class="pl-4">Lambotown,</p>
            <p class="pl-4">PorscheVille,</p>
            <p class="pl-4">Ireland</p>

            <h4><i class="fas fa-phone-alt"></i> Phone</h4>
            <p class="pl-4">00555 43224 45545</p>
            <h4><i class="far fa-envelope"></i> Email</h4>
            <p class="pl-4">info@fecc-fecc.com</p>
        </div>
</div>

</aside>



</div>
{% endblock %}