{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

           
        </div>

    </div>

</div>
{% endblock%}

{% block content %}



<div class="container main-container">
    <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-center ">
      <h1 class="fecc ">Far East Car Care</h1>
          
    <p class="vid-text-p">The Best Gloss Finish from Japan!</p>
    
    <div class="button ">
      <a href="#" class="btn-neon">shop now</a>
    </div>
  </div>
    <!-- Video Switch Here -->
    <button class="switch-btn">
      <span>play</span>
      <span>pause</span>
      <span class="switch"></span>
    </button>
  </div>

  <video class="video-container" muted autoplay loop>
    <source src="./media/i82.mp4" type="video/mp4" />
  </video>


{% endblock %}