{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock%}

{% block content %}



<div class="main-container">
  <p class="sm-text-p">Hand-Selected care products from Japan</p>
  <h1 class="fecc ">HIGH GLOSS WAXES</h1>
    <div class="front-section">
      <div class="car-image-holder">
        <img class="car-img" src="/media/001.jpg" alt="glossy car">
        <img class="car-img " src="/media/008.jpg" alt="glossy car">
        <img class="car-img car-img-2" src="/media/012.jpg" alt="glossy car">
      </div>

      <!-- Banner to show FREE DELIVERY CUT-OFF POINT -->

      <!-- Rotating Text Credit to "Alphardex" at  
        https://codepen.io/alphardex/pen/WNNVJeZ  -->
        
      <div class="row w-100">
        <div class="col-12  text-rotator text-center">
          <h3 class="inline-text">FREE DELIVERY ON ORDERS OVER</h3>
          <h3 class="inline-text">
            <span class=" value rotate1"> €{{ free_delivery_threshold }}.00</span>
            <span class=" value rotate2"> €{{ free_delivery_threshold }}.00</span>
            <span class=" value rotate3"> €{{ free_delivery_threshold }}.00</span>
            <span class=" value rotate4"> €{{ free_delivery_threshold }}.00</span>
            <span class=" value rotate5"> €{{ free_delivery_threshold }}.00</span>
          </h3>
        </div>
      </div> 

      <div class="button ">
        <a href="{% url 'products' %}" class="btn-neon">shop now</a>
      </div>
    
              

{% endblock %}
<script src="{% static 'js/base.js' %}"></script>