@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

:root {
  /* dark shades of primary color*/
  --fecc-primary-1: hsl(205, 86%, 17%);
  --fecc-primary-2: hsl(205, 77%, 27%);
  --fecc-primary-3: hsl(205, 72%, 37%);
  --fecc-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --fecc-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --fecc-primary-6: hsl(205, 89%, 70%);
  --fecc-primary-7: hsl(205, 90%, 76%);
  --fecc-primary-8: hsl(205, 86%, 81%);
  --fecc-primary-9: hsl(205, 90%, 88%);
  --fecc-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --fecc-grey-1: hsl(209, 61%, 16%);
  --fecc-grey-2: hsl(211, 39%, 23%);
  --fecc-grey-3: hsl(209, 34%, 30%);
  --fecc-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --fecc-grey-5: hsl(210, 22%, 49%);
  --fecc-grey-6: hsl(209, 23%, 60%);
  --fecc-grey-7: hsl(211, 27%, 70%);
  --fecc-grey-8: hsl(210, 31%, 80%);
  --fecc-grey-9: hsl(212, 33%, 89%);
  --fecc-grey-10: hsl(210, 36%, 96%);
  --fecc-white: #fff;
  --fecc-yellow: #f1c40f;
  --fecc-red-dark: hsl(360, 67%, 44%);
  --fecc-red-light: hsl(360, 71%, 66%);
  --fecc-green-dark: hsl(125, 67%, 44%);
  --fecc-green-light: hsl(125, 71%, 66%);
  --fecc-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --ff-fecc-logo: "Playfair Display", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* ********* Global Styling for the pages**** */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--fecc-grey-9);
  color: var(--fecc-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;

}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

 
img:not(.logo) {
  width: 100%;
} 

img {
  display: block;
}
#img-logo {
  height: 45px;
  width: auto;
  align-self: center;
  border-radius: 5px;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-secondary);
  }

 h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
  color: var(--fecc-primary-4)
}

p {
  margin-bottom: 1.25rem;
  color: var(--fecc-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
   
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}



/* ********************Pages Section Area Styling ***********/

.section {
    padding: 5rem 0;
  }
  
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  
  @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
    
  }
  .main-container {
    min-height: 100vh;
    display: grid;
    place-items: center;    
  }
  
  
  /**************************** Sidebar**  */

.sidebar-toggle {
    position: fixed;
    top: 1rem;
    right: 1.5rem;
    font-size: 2.5rem;
    background: transparent;
    border-color: transparent;
    color: var(--fecc-primary-5);
    transition: var(--transition);
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
    z-index: 99;
  }
  
  .sidebar-toggle:hover {
    color: var(--fecc-primary-7);
  }
  /* effect for toggle */
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
  
  .close-btn {
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    color: var(--fecc-primary-5);
    transition: var(--transition);
    cursor: pointer;
    color: var(--fecc-red-dark);
  }
  
  .close-btn:hover {
    color: var(--fecc-red-light);
    transform: rotate(360deg);
  }
  
  img .logo {
    justify-self: center;
    height: 40px;
    
  }
  
  .links a {
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: var(--fecc-grey-5);
    transition: var(--transition);
  }
  
  .links a:hover {
    background: var(--fecc-primary-8);
    color: var(--fecc-primary-5);
    padding-left: 1.75rem;
  }
  
  .social-icons {
    justify-self: center;
    display: flex;
    padding-bottom: 2rem;
  }
  
  .social-icons a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    color: var(--fecc-primary-5);
    transition: var(--transition);
  }
  
  .social-icons a:hover {
    color: var(--clr-primary-1);
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--fecc-white);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: var(--fecc-red-dark);
    transition: var(--transition);
    transform: translate(-100%);
    z-index: 999;
  }
  
  .show-sidebar {
    transform: translate(0);
  }

  
.fecc {
  font-family: var(--ff-fecc-logo);
  color: var(--fecc-primary-10);
  font-size: 2.8rem;
  padding: 40px 20px;
  margin: 20px auto; 
  }

  .fa-lg {
    color: var(--fecc-grey-9);
    padding-top: 15px;
  }

  .account-text {
    color: var(--fecc-primary-10)
  }
  
  @media screen and (min-width: 993px) {
    .sidebar {
      width: 400px;
    }     
}

.top-center {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
 
  
  /*  End Side Bar section */

  /* TOP bar including drop-down menus */

  

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
#dropdown-menu {
  transform: translate3d(0px, 52px, 0px)!important;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px; 
  margin-top: 35px;    
}

#narrow-dropdown-menu {
  width: auto;
}

.dropdown {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


/* Add fade effect to drop-down : 
Credit: https://stackoverflow.com/a/47986695/1821637 */

.dropdown-menu.fade {
  display: block;
  opacity: 0;
  pointer-events: none;
}

.show > .dropdown-menu.fade {
  pointer-events: auto;
  opacity: 1;
}

.list-style {
  padding: 20px 10px 20px 30px;
}

.list-style > ul {
  margin-bottom: .2rem;
}

/*  Rotating Text in Free Delivery Notice */

.text-rotator {
  font-family: var(--ff-secondary);
  font-weight: 600;  
  padding-top: 7px;
  width: 100%;
}

.inline-text {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
  font-size: 1.2rem;
  color: var(--fecc-primary-9);
}

.text-rotator .inline-text .value {
  position:absolute;
  display: flex;
  opacity: 0; 
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* colours for rotating text */
.rotate1 {
  color: var(--fecc-white)
}
.rotate2 {
  color: var(--fecc-green-light)
}
.rotate3 {
  color: var(--fecc-red-dark)
}
.rotate4 {
  color: var(--fecc-yellow)
}
.rotate5 {
  color: var(--fecc-primary-7)
}


/* ****************BUTTON FOR NEON SHOP SIGN **** */

.btn-neon {
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  text-shadow: -2px 4px 4px #091243, 0 0 10px #00d0ff, inset 1px 1px 1px white;
  color: var(--fecc-yellow);
  padding: 0.4rem 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 1rem;
  border: 2px solid var(--fecc-black);
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
    2px 4px 3px rgba(3, 0, 128, 0.3), 0 0 7px 2px rgba(0, 208, 255, 0.6),
    inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
    inset 2px 4px 3px rgba(3, 0, 128, 0.3),
    inset 0 0 7px 2px rgba(0, 208, 255, 0.6);
  animation: flickering 5s infinite;
  border: 2px solid;
  border-radius: var(--radius);
  margin-bottom: 2rem;
}

@keyframes flickering {
  0% {
    border-color: transparent;
    opacity: 0.2;
  }

  2% {
    border-color: var(--fecc-yellow);
    opacity: 1;
  }

  4% {
    border-color: transparent;
    opacity: 0.2;
  }

  8% {
    border-color: var(--fecc-yellow);
    opacity: 1;
  }

  28% {
    border-color: var(--fecc-yellow);
    opacity: 1;
  }

  30% {
    border-color: transparent;
    opacity: 0.2;
  }

  36% {
    border-color: var(--fecc-yellow);
    opacity: 1;
  }

  100% {
    border-color: var(--fecc-yellow);
    opacity: 1;
  }
}

/* End NEON Sign */



/* 

=============== Video

*/ 

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-white);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: var(--transition);
}
.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

header {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.vid-text {
  color: var(--fecc-primary-10);
  text-transform: uppercase;
  z-index: -1;
}

.vid-text-p {
  text-transform: uppercase;
  color: var(--fecc-primary-6);
  font-size: 1.2rem;
  letter-spacing: 1.25px;
  z-index: -1;
}
/* switch button for Video on/off */

.switch-btn {
  position: absolute;
  bottom: 7%;
  right: 7%;
  width: 7rem;
  height: 2rem;
  display: flex;
  border-radius: var(--radius);
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: var(--transition);
}
.switch-btn span {
  display: inline-block;
  font-size: 0.85rem;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--fecc-primary-5);
}
.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--fecc-primary-5);
  border-radius: var(--radius);
  margin: 0;
  display: block;
  transition: var(--transition);
}
.slide .switch {
  left: 50%;
}
/* ******* header after */
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -2;
}

/* Products Page */


@media screen and (max-width: 992px) {

  .dropdown-item {
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 1.2px;
  }

  .inline-text {
    font-size: .75rem;
  }
}

@media screen and (max-width: 600px) {

  .sidebar-toggle {
    top: .5rem;
    font-size: 1.25rem;
  }

.fecc {
    font-family: var(--ff-fecc-logo);
    color: var(--fecc-primary-10);
    font-size: 1.4rem;
    padding: 30px 20px;
    margin: 20px auto;     
}
    
  #img-logo {
    height: 35px;
    width: auto;
    align-self:flex-start;
    border-radius: 5px;
  }
    .btn-neon {
      text-transform: uppercase;
      background: var(--fecc-grey-1);
    
      padding: 0.2rem .6rem ;
      margin-bottom: 1.75rem;
      font-size: 0.75rem;
     
    }

    .switch-btn {
      position: absolute;
      bottom: 5%;
      right: 5%;
      width: 5rem;
      height: 1.5rem;      
    }

    .switch-btn span {
      font-size: .6rem;
    }
    
.vid-text-p {
  
  font-size: .8rem;
  z-index: -1;
}

.list-style {
  padding: 5px ;
}

.dropdown-area {
  padding-left: 20px;
}
.inline-text {
  font-size: .5rem;
}
}
