{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  {% block meta %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  

<!-- Main CSS style sheet link -->
  
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}


  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
      <script src="https://kit.fontawesome.com/e9c73d7092.js"  crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            
<!-- Stripe link here for visibility -->

          <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}


  {% block extra_js %}
  {% endblock %}


  <title>FECC Project {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <!-- BurgerBar Drop-down Icon -->
  <div>
    <button class="sidebar-toggle">
      <i class="fas fa-bars"></i>
    </button>
  </div>
<header class="header">
 
    
<div class=" logo-col">
  
  
  <!-- Logo -->  
  <img src="{{ MEDIA_URL }}FECC.png" class="logo" alt="" />
</div>
<div class=" nav-icons">
  <ul class="menu-items">
    <li><a href="{% url 'home' %}" class="menu-item">Home</a></li>
    <li><a href="{% url 'products' %}" class="menu-item" id="wide-menu-trigger">Store <i class="fas    fa-chevron-down"></i></a>
      <div class="wide-menu" >
          <div class="content">
            <div class="col">
              <section class="img-section">
                <h2>Special Offer</h2>
                <a href="#" class="img-wrapper">
                  
                  <img src="{{ MEDIA_URL }}hikari1.jpg" class="menu-img" alt="Special Offer">
                </a>
                <p id="menu-text">Buy One, Get One Free</p>
              </section>
            </div>
            <div class="col">
              <section>
                <h2>Collection</h2>
                <ul class="lg-links">
                  <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>               
                  <li><a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">Specials</a></li>
                  
                </ul>
              </section>
            </div>
            <div class="col">
              <section>
                <h2>Exterior</h2>
                <ul class="lg-links">
                  <li><a class="dropdown-item" href="{% url 'products' %}?category=seal_wax">Seal &amp; Wax</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?category=polishes">Polishes</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?category=prep_chemicals">Prep Chemicals</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?category=accessories#">Accessories</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?category=,seal_wax,polishes,prep_chemicals,accessories#">All Exterior</a></li>
                </ul>
              </section>
            </div>
            <div class="col">
              <section>
                <h2>Interior</h2>
                <ul class="lg-links">
                  <li><a class="dropdown-item" href="{% url 'products' %}?category=leather_care">Leather Care</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?category=cleaners">Cleaners</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?category=dress_protect">Dress &amp; Protect</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?category=accessories">Accessories</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?category=leather_care,cleaners,dress_protect,accessories">All Interior</a></li>
                </ul>
              </section>
            </div>
      <!-- Search Bar in Wide Drop-Down -->
              <div class="col-search w-100">
                <form method="GET" action="{% url 'products' %}">
                  <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q"
                      placeholder="Search our site">
                    <div class="input-group-append">
                      <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                        <span class="icon">
                          <i class="fas fa-search"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
          </div>        
      </div>
    </li>
<!-- END Wide menu  -->

    <li class="drop-down"><a href="" class="menu-item ">Help <i class="fas fa-chevron-down"></i></a>
      <ul class=" drop-menu">
        <li><a href="#" class="menu-item">FAQ</a></li>
        <li><a href="#" class="menu-item">Contact</a></li>
        <li><a href="#" class="menu-item">About</a></li>        
    </ul>
  </li>

  </ul>
</div>
<div class="user-box">
  <ul class="user-icons ">
    <li class="drop-down cart-icons ">
      <a class="icons " href="" id="dropdownMenuButton"  data-toggle="dropdown"><i class="fas fa-lg fa-user-alt"></i><p class="account-text">Account</p></a>
      
      <div class="dropdown-menu border-0 " id="narrow-dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
        {% endif %}
        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
      </div>
    </li>
    <li class="cart-icons">
      <a class="{% if grand_total %}text-info{% else %}text-black{% endif %} " href="{% url 'view_cart' %}">
        <div class="text-center icons">
          <div><i class="fas fa-shopping-cart fa-lg"></i></div>
          <p class="my-0 account-text">
            {% if grand_total %}
              €{{ grand_total|floatformat:2 }}
            {% else %}
              €0.00
            {% endif %}
          </p>
        </div>
      </a>
    </li>
    
  </ul>
</div>

</header>

  <section class="container-fluid fixed-top top-area">
    <aside class="sidebar">
      <div class="sidebar-header">
        <img src="{{ MEDIA_URL }}FECC.png" class="logo" alt="" />
        <button class="close-btn"><i class="fas fa-times"></i></button>
      </div>
      <!-- links -->
      <ul class="links">
        <li>
          <a href="index.html">home</a>
        </li>
        <li>
          <a href="about.html">about</a>
        </li>
        <li>
          <a href="projects.html">contact</a>
        </li>
        <li>
          <a href="{% url 'products' %}">store</a>
        </li>
        <!-- SEARCH BAR IN SIDEBAR -->
        <li>
          <div class="col-8 col-lg-8 my-auto py-1 py-lg-0">
            <form method="GET" action="{% url 'products' %}">
              <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q"
                  placeholder="Search our site">
                <div class="input-group-append">
                  <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                    <span class="icon">
                      <i class="fas fa-search"></i>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>
      </ul>
      <!-- social media -->
      <ul class="social-icons">
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-behance"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-sketch"></i>
          </a>
        </li>
      </ul>
    </aside>


 

    
      <!-- Banner to show FREE DELIVERY CUT-OFF POINT -->

      <!-- Rotating Text Credit to "Alphardex" at  
        https://codepen.io/alphardex/pen/WNNVJeZ  -->
<!--         
      <div class="row w-100">
        <div class="col-12 text-rotator text-center">
          <h3 class="inline-text">FREE DELIVERY ON ORDERS OVER</h3>
          <h3 class="inline-text">
            <span class=" value rotate1"> €{{ free_delivery_threshold }}.00</span>
            <span class=" value rotate2"> €{{ free_delivery_threshold }}.00</span>
            <span class=" value rotate3"> €{{ free_delivery_threshold }}.00</span>
            <span class=" value rotate4"> €{{ free_delivery_threshold }}.00</span>
            <span class=" value rotate5"> €{{ free_delivery_threshold }}.00</span>
          </h3>
        </div>
      </div> -->
    </section>
  
{% if messages %}
    <div class="message-container">
      {% for message in messages %}
      {% with message.level as level %}
          {% if level == 40 %}
              {% include 'includes/toasts/toast_error.html' %}
          {% elif level == 30 %}
              {% include 'includes/toasts/toast_warning.html' %}
          {% elif level == 25 %}
              {% include 'includes/toasts/toast_success.html' %}
          {% else %}
              {% include 'includes/toasts/toast_info.html' %}
          {% endif %}
      {% endwith %}
  {% endfor %}

    </div>

{% endif %}


  {% block page_header %}
  {% endblock %}


  {% block content %}
  {% endblock %}

 
  {% block postloadjs %}
  <script type="text/javascript">
      $('.toast').toast('show');      
  </script>
  {% endblock %}
  <script src="{% static 'js/base.js' %}"></script>
  
</body>

</html>