{% extends "base.html" %}
{% load static %}

{% block content %}
{% load static %}

<div class="col-4 offset-4 mb-5 mt-5">
    <!-- use {{ title }} to alternate between Create and Update -->
    <h4 class="py-3">{{ title }} the Article here</h4>
    {{ form.media }}
    
    <form class="mb-5" method="POST" action=".{{ action }}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy  }}
        <button type="submit" class="btn btn-outline-custom mb-5" >Submit</button>
    </form>
</div>


{% endblock %}