{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="container py-5">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8">
      <div class="container">
        <div class="post-single">
          <div class="post-thumbnail">
            <img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid post-img p-3" />
          </div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">

              <div class="category">
                {% for cat in post.categories.all %}

                <a href="#">{{ cat }}</a>

                {% endfor %}
              </div>
            </div>
            <div class="py-2">
              <small><a href="{% url 'post-update' id=post.id %}" class="text-info">Edit |</a></small>
              <small><a href="{% url 'post-delete' id=post.id %}"class="text-danger">Delete</a></small>
            </div>
            <h3 class="post-title">
              {{ post.title }} 
            </h3>
            <div >
              <div class="author-box">
                <div class="avatar ">
                  <img src="{{ post.author.profile_picture.url }}" alt="..." class="avatar-img " />
                </div>
                  <small class="ml-1 p-1"><span class="author" >Written by: {{ post.author.user.username }}</span></small>
                </div>
              
                  <small class="date px-1">
                    <i class="icon-clock"></i> {{ post.timestamp|timesince }} ago |
                  </small>
                  <small class="views px-1"><i class="far fa-eye px-1"></i>{{ post.view_count }} </small>
                  <small class="comments meta-last px-1">
                  <i class="far fa-comment-alt "></i> {{ post.comments.count }}
                  </small>
              
            </div>
            <div class="post-body py-5">
              {{ post.content | safe }}
            </div>


            <div class="row ">
              <div class="col-6  prev-left">
                {% if post.previous_post %}
                <h6><i class="fa fa-angle-left"></i> Previous</h6>
              <a href="{{ post.previous_post.get_absolute_url }}" >
                <span> "{{ post.previous_post.title }}"
                </span>
              </a>
               {% endif %}
              </div>
              <div class="col-6  nxt-right">
                {% if post.next_post %}
                <h6>Next <i class="fa fa-angle-right"> </i></h6>
                <a href="{{ post.next_post.get_absolute_url }}" class="">
                  "{{ post.next_post.title }}"
                </a>

                {% endif %}
              </div>

            </div>
  

            <div class="post-comments">
              <header>
                <h4 class="py-4">
                  Post Comments<span class="no-of-comments">({{ post.comments.count }})</span>
                </h4>
              </header>
              <!-- to iterate through the comments -->
              {% for comment in post.get_comments %}
              <div class="comment">
                <div class="comment-header d-flex justify-content-between">
                  <div class="user d-flex align-items-center">
                    <div class="image">
                      {% if comment.user.author %}
                      <img  src="{{ comment.user.author.profile_picture.url }}" alt="..."
                        class="img-fluid rounded-circle avatar-img " />
                      {% else %}
                      <img src="{% static 'img/user.svg' %}" alt="..." class="img-fluid rounded-circle avatar-img ">
                      {% endif %}
                    </div>
                    <div class="title">
                      <small class="px-2">{{ comment.user.username }}</small><small class="date px-3">{{ comment.timestamp | timesince }}
                        ago</small>
                    </div>
                  </div>
                </div>
                <div class="comment-body">
                  <p>
                    {{ comment.content }}
                  </p>
                </div>
              </div>
              {% endfor %}
              </div>

  <!-- Adding Comments to the blog -->
            <!-- Authenticated users only -->
            {% if request.user.is_authenticated %}
            <div class="add-comment mt-4">
              <header>
                <h4 class="pt-3">Leave a reply</h4>
              </header>
              <form method="POST" action="." class="commenting-form">
               {% csrf_token %}
               
                <div class="row">
                  {{ form }}
                  <div class="form-group col-md-12">
                  
                  </div>
                  <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-secondary">Submit Comment</button>
                  </div>
                </div>
              </form>
            </div>
            {% else %}
            <a class="btn btn-secondary" href="{% url 'account_login' %}">Login to Comment</a>

            {% endif %}
            
           
          </div>
        </div>
      </div>
    </main>
    {% include 'posts/sidebar.html' with most_recent=most_recent category_count=category_count %}
  </div>
</div>

{% endblock %}